@charset "UTF-8";

/*Utility Class*/

.box-helper {
  color: #fff;
  background-color: #000;
  text-align: center;
}

.hidden {
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; /* 100% of itself */
}

/*switch box model*/
html {
  box-sizing: border-box; 
}


*,
*::before,
*::after {
  box-sizing: inherit; 
}

/*Fix for scaling of images IE*/

img {
  -ms-interpolation-mode: bicubic; 
}

/*** STYLESHEET ***/

/* general styles */

body {
	background-color: rgba(252, 252, 252, 1);
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #333;
	font-size: 100%; /* 16px */
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

main {
	background-color: rgba(252,252,252, 1);
	position: relative;
}

p {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

a {
	text-decoration: none; 
	color: #333;
	outline: 0;
	transition: all .1s linear 0s
}


a:visited { 
	text-decoration: none; 
	color: #777;
} 

h2 {
	font-family: proxima-nova, helvetica, arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #194A8A;
}

h3 {
	font-family: proxima-nova, helvetica, arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #333;
}

h4 {
	font-family: proxima-nova, helvetica, arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #333;
}

.main-container { /* main container */
	max-width: 1690px;
	margin: 0 auto;
	min-height: 100vh; /* will cover the 100% of viewport */
 	overflow: hidden;
 	display: block;
 	position: relative;
 	padding-bottom: 5%;
 	background-color: #fff;
}

.container { /* main container and section containers */
	max-width: 1690px;
	margin: 0 auto;
}

.container a:hover {
	text-decoration: underline;
}

.padding { /* used for spacing section titles */
	padding: 30px;
}

/*** main header ***/

#main-header { /* important */
	margin-bottom: 30px;
	margin-top: 5px;
}

#main-nav { /* important */
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

#main-nav button { /* important */
	margin: 0 auto;
}

#burger-con { /* important */
	display: none; /* hide initially */
	margin-top: 30px; 
}

#burger-con.slide-toggle { /* important */ 
	display: block;
}

#main-nav button { /* important */
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all 400ms ease;
}

#main-nav button.expanded {  /* important */
	margin-bottom: 20px;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#main-nav li a { /* what shows in burger menu*/
	font-family: rift, helvetica, arial, sans-serif;
	display: block;
	color: #DA364F;
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 1em;
} 

#main-nav a:hover {
	color: #194A8A;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

/* logo */

#main-logo {
	z-index: 3;
	background-color: #fff; 
	border-radius: 100%;
	display: block;
	max-width: 140px; /* we cannot go beyond this size. It will ONLY grow to this set size. This is dictated by the design of the logo and should be found in your build notes */
	margin: 0 auto; 
}


/*** index ***/

.center {
	text-align: center;
	align-items: center;
	align-content: center;
	align-self: center;
}

.full-width {	/* targets viewport sz */
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.hero {
	height: 540px;
	margin-top: 5px;
	opacity: 90%;
	z-index: -1;  
	-webkit-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
	-moz-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
	-o-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
	box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
}

.main-heading {
	text-align: center;
}

.main-heading h2 {
	font-size: 2em;
	margin-top: 30px;
}

.main-heading h3 {
	color: #333;
	font-size: 1.175em;
	padding: 5px 0 25px 0;
}

span {
	color: #DA364F;
	font-family: rift, helvetica, arial, sans-sefif;
	font-weight: 600;
	letter-spacing: 2px
}
 
#featured-grid {
	margin: auto 0;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 20px;
}

#featured-grid img {
	border-radius: 100%;
	margin: 15px;
	-webkit-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	-moz-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	-o-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
}

#recipes-grid {
	margin: auto 0;
	width: 80%;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 40px;
/*	align-self: center;
	align-content: center; */
}

#recipes-grid p {
	text-align: left;
}

.heading h2 {
	font-size: 1.875em; /* 30px */
}

#recipes-grid h4 {
	text-align: left;
	padding: 25px 0 5px 0;
}

#recipes-grid img {
	height: 190px;
	width: 190px;
	float: left;
	border-radius: 100%;
	margin: 15px;
	-webkit-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
	-moz-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
	-o-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
	box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
}

#recipe-wrapper {
	display: flex;
	flex-direction: column;
}

#gallery-wrapper {
	margin-bottom: 30px;
}

#gallery-grid {
	width: 80%;
	margin: 0 0 30px 0;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 20px;
}

.padding {
	padding: 20px;
}


/*** footer ***/

footer {
	bottom: 0;
	width: 100%;
}

.main-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	color: #fff;
	width: 100%;
	background-color: #194A8A;
	margin-top: 2em !important;
	-webkit-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
	-moz-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
	-o-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
	box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
}

#footer-logo img {
	display: inline-block;
	align-self: center;
	padding: 10px;
	margin-top: 14px;
}

#quick-contact {
	align-self: center;
	display: block;
}

#quick-contact h5 {
	font-family: rift, helvetica, arial, sans-serif;
	font-size: 1em; /* 16px */
	padding: 3px;
	font-weight: 500;
}

#quick-contact p {
	font-size: 0.75em; /* 12px */
}

#quick-contact a {
	color: #fff;
}

#quick-contact a:hover {
	text-decoration: underline;
}

#social-nav {
	align-self: center;
}

#social-nav img {
	align-self: center;
	height: 25px;
	width: 25px;
}

#social-nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: center;
/*	font-size: 0.625em; /* 10px */
}

#social-nav li {
	padding: 5px;
}


#sm-wrap {
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

#sm-wrap p {
	font-family: rift, helvetica, arial, sans-serif;
	font-size: 1em;
	padding: 3px;
	font-weight: 500;
}


#copyright {
	font-size: 0.625em; /* 10px */
	background-color: #102e56;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
}

#copyright p {
	padding: 3px;
}

/*=*=*=*=*=*=*=*=*=*=*=*=* RESPONSIVE MOBILE *=*=*=*=*=*=*=*=*=*=*=*=*/

@media screen and (max-width: 30em) { /* 480px */

.main-heading h2 {
		font-size: 0.75em !important;
		margin-top: 7px;
	}

.main-heading h3 {
		color: #333;
		font-size: 0.625em !important; 
		padding: 2px 0 10px 0;
	}				

}

@media screen and (max-width: 38.75em) { /* 620px */

footer {
		font-size: 0.75em;
	}	

}

@media screen and (max-width: 50em) { /* 800px */

	.hero {
		display: none;
	}

	.no-hero {
		width: 100%;
		height: 100px;
	}

	#featured-grid {
		font-size: 1.3em;
		margin: auto 0;
		display: inline-grid;
		grid-template-columns: repeat(1, 1fr); 
		grid-gap: 20px;
	}

	#featured-grid img {
		max-width: 150px;
		border-radius: 100%;
		margin: 15px;
		-webkit-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-moz-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-o-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	}

	#recipes-grid h4 {
		font-size: 1.3em !important;
		text-align: left;
		padding: 25px 0 5px 0;
	}

	#recipes-grid p {
		font-size: 0.9em;
		text-align: left;
		padding: 25px 0 5px 0;
	}

	#recipes-grid img {
		max-width: 200px;
		float: left;
		border-radius: 100%;
		margin: 15px;
		-webkit-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		-moz-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		-o-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
	}

	#gallery-wrapper {
		display: none !important;
	}
	
	footer {
		font-size: 1em;
	}

	.main-footer {
		height: 100px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		color: #fff;
		width: 100%;
		background-color: #194A8A;
		margin-top: 100px !important;
		-webkit-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		-moz-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		-o-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
	}
		
}

@media screen and (max-width: 61.875em) { /* 990px */

	.main-heading h2 {
		font-size: 2em;
		margin-top: 15px;
	}

	.main-heading h3 {
		font-size: 1.3em;
	}

	span {
		color: #DA364F;
		font-family: rift, helvetica, arial, sans-sefif;
		font-weight: 600;
		letter-spacing: 2px
	}
	 
	#recipes-grid {
		margin: auto 0;
		width: 80%;
		display: inline-grid;
		grid-template-columns: repeat(1, 1fr); 
		grid-gap: 40px;
	/*	align-self: center;
		align-content: center; */
	}

	#recipes-grid p {
		text-align: left;
	}

	.heading h2 {
		font-size: 1em;
	}

	#recipes-grid h4 {
		font-size: 0.875em;
		text-align: left;
		padding: 25px 0 5px 0;
	}

	#gallery-grid {
		width: 80%;
		margin: 0 0 30px 0;
		display: inline-grid;
		grid-template-columns: repeat(2, 1fr); 
		grid-gap: 10px;
	}

	#featured-grid img {
		max-width: 175px;
		margin: 15px;
		-webkit-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-moz-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-o-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	}

}

@media screen and (min-width: 64em) { /* 1024px */

 	#main-header {
 		height: 50px;
 		display: flex;
 	}

    #button {
    	display: none;
    }

    #burger-con {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    #main-nav {
    	text-align: right;
    	text-transform: uppercase;
    	font-size: 0.875em;
    	margin-left: auto;
    	margin-top: 20px;
    }

    #burger-menu {
    	text-align: right;
    }

    #main-nav {
    	font-size: 1.5em;
    	margin-right: 100px;
    }

    #main-nav li {
    	border-bottom: none;
    	display: inline;
    	margin-left: 20px;
    }
    
    #main-nav li a {
    	font-family: rift, helvetica, arial, sans-serif;
    	background-color: transparent;
    	display: inline;
    	padding: 5px 0 5px 0;
    	text-decoration: none;
    	color: #333;
    }

    #main-nav a:hover {
		color: #194A8A;
		text-transform: uppercase;
		border-bottom: 3px solid #da364f;
		font-weight: 600;
		cursor: pointer;
    }

    #main-nav li:last-child {
    	margin-bottom: 0;
    }

    #logo-con {
    	order: -1;
    }

    #main-logo {
     	margin-left: 100px;
     	/*margin-top: 20px; */
     	max-width: 160px;
     	z-index: 3;
     	position: relative;
     	padding-top: 10px;
    }

    /** end header **/

	.hero {
		z-index: -1;
		height: 540px;
		margin-top: 5px;
		opacity: 90%; 
		-webkit-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
		-moz-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
		-o-box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
		box-shadow: 0 1em 1em -1em rgba(207, 207, 207, 0.5);
	}

	.main-heading h2 {
		font-size: 2.5em;
		margin-top: 30px;
	}

	.main-heading h3 {
		color: #333;
		font-size: 1.5em;
		padding: 5px 0 25px 0;
	}
	 
	#featured-grid {
		font-size: 1.4em;
		margin: auto 0;
		display: inline-grid;
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 20px;
	}

	#featured-grid img {
		border-radius: 100%;
		margin: 15px;
		-webkit-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-moz-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		-o-box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
		box-shadow: 1px 2px 8px 1px rgba(190, 190, 190, 0.5);
	}

	#recipes-grid {
		margin: auto 0;
		width: 80%;
		display: inline-grid;
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 40px;
	/*	align-self: center;
		align-content: center; */
	}

	#recipes-grid h4 {
		font-size: 1.4em;
		text-align: left;
		padding: 25px 0 5px 0;
	}

	#recipes-grid img {
		max-width: 200px;
		float: left;
		border-radius: 100%;
		margin: 15px;
		-webkit-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		-moz-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		-o-box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
		box-shadow: 1px 1px 8px 1px rgba(190, 190, 190, 0.5);
	}

	#recipe-wrapper {
		display: flex;
		flex-direction: column;
	}

	#gallery-grid {
		width: 80%;
		margin: 0 0 30px 0;
		display: inline-grid;
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 20px;
	}

	.padding {
		padding: 20px;
	}

	footer {
		font-size: 1.5em;
	}

	.main-footer {
		height: 130px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		color: #fff;
		width: 100%;
		background-color: #194A8A;
		margin-top: 2em !important;
		-webkit-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		-moz-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		-o-box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
		box-shadow: .3em 0em 1em 0.2em rgba(207, 207, 207, 0.9);
	}

}